<configuration>
  <name>sudoku</name>
  <list>
    <point>
      <name>RMIRegistryHostAddressPrefix</name>
      <value class="string">157.201.194.</value>
    </point>
    <point>
      <name>Puzzles</name>
      <value class="list">
        <puzzle>
          <data>/gEG+wcI/AMJ/Pn99wb+/wj7Cfj7/wQD+v75BfoE/vgBBwn9/QIH/Pf7CAb//wkIB/36AvsE+P33
BgH5+/wC+QT++AX3/f/6BgX/AwL8CQf4</data>
          <number>687278261</number>
          <level>
            <name>Easy</name>
            <ordinal>0</ordinal>
          </level>
        </puzzle>
        <puzzle>
          <data>+PoE9/0HBQECBwID//v89wb4AQn7CP76/P0H/fz4/v/7+fcGAgX5BgQJ/QgBCf/6/fn4/vv8Bv3/
/PcC+AcF+wj++fr9AQQJBAcJBfj/Bv79</data>
          <number>1596114151</number>
          <level reference="../../puzzle/level"/>
        </puzzle>
        <puzzle>
          <data>/vj9BQcEAQn6+wb3A/7/+fwI/wf8Bvj3Bf79AwQF/vf6CPn/BvcIB/8FBP0C+f8C+Pz9BgUJ9/sG
//0H/gj8BP759/oI/QH7+AMBBAUC9/r5</data>
          <number>485934509</number>
          <level reference="../../puzzle/level"/>
        </puzzle>
      </value>
    </point>
  </list>
</configuration>
