<configuration>
  <name>sudoku</name>
  <list>
    <point>
      <name>RMIRegistryHostAddressPrefix</name>
      <value class="string">157.201.194.</value>
    </point>
    <point>
      <name>Puzzles</name>
      <value class="list">
        <puzzle>
          <data>/gEG+wcI/AMJ/Pn99wb+/wj7Cfj7/wQD+v75BfoE/vgBBwn9/QIH/Pf7CAb//wkIB/36AvsE+P33
BgH5+/wC+QT++AX3/f/6BgX/AwL8CQf4</data>
          <number>687278261</number>
          <level>
            <name>Easy</name>
            <ordinal>0</ordinal>
          </level>
        </puzzle>
        <puzzle>
          <data>+PoE9/0HBQECBwID//v89wb4AQn7CP76/P0H/fz4/v/7+fcGAgX5BgQJ/QgBCf/6/fn4/vv8Bv3/
/PcC+AcF+wj++fr9AQQJBAcJBfj/Bv79</data>
          <number>1596114151</number>
          <level reference="../../puzzle/level"/>
        </puzzle>
        <puzzle>
          <data>/vj9BQcEAQn6+wb3A/7/+fwI/wf8Bvj3Bf79AwQF/vf6CPn/BvcIB/8FBP0C+f8C+Pz9BgUJ9/sG
//0H/gj8BP759/oI/QH7+AMBBAUC9/r5</data>
          <number>485934509</number>
          <level reference="../../puzzle/level"/>
        </puzzle>
        <puzzle>
          <data>/fz49/4F+fr/BwEGA/z4BfcCCQX++f/6+AP8Afr3BQj8A/75/Pj5/v33+v/7+/4D/wYH9/wI/gn/
+Pn9/AUGCP0E+vsCAQcJ+vn7BPf//vj9</data>
          <number>1126462119</number>
          <level>
            <name>Medium</name>
            <ordinal>1</ordinal>
          </level>
        </puzzle>
        <puzzle>
          <data>+f79CAX8Afr3//z79wYH+P3++PoJ/f4BBPsH/gkEB/j7+gED+v8H/P3+Cfj7BQP4+v8JAgf8A/kC
Aff6Bfz49/j/BQT9+f76/PsG/gcI/ff/</data>
          <number>337934953</number>
          <level reference="../../puzzle[4]/level"/>
        </puzzle>
        <puzzle>
          <data>Bf0J+AL8+gf/+v4HAfv99wQI//wI9/n6/gX9AvgFBAb/+f339wH9+Qj7/Ab++fr8/QkCCP8F/Qn6
+/z4Af75BAf//v0JBfj6+AX++gH5A/cE</data>
          <number>1807831413</number>
          <level reference="../../puzzle[4]/level"/>
        </puzzle>
        <puzzle>
          <data>A/j5/vr89wX/9wL6AfsD/Aj5/Pv/+QgJ/foC//n3A/z4+wIG+PoFCf8CB/z9AgT9+vkF//f4B/38
CAn6/v/7+wH4BP4H+gP3+gn++/3/+PkE</data>
          <number>36718365</number>
          <level>
            <name>Hard</name>
            <ordinal>2</ordinal>
          </level>
        </puzzle>
        <puzzle>
          <data>/Pn9Avf4Bf/6+gUJAf0E+AL5Af74+Qb7/fcE/v36/Pv3AfkI+QH7+AL6/AP3CfgE/f/5+vv+CPz/
+wf+9/oD/Qb5CfgBAgT7+/cC+vwD+fj/</data>
          <number>1591742917</number>
          <level reference="../../puzzle[7]/level"/>
        </puzzle>
        <puzzle>
          <data>/Pj9//v59/oC//cCCPoE+f0FB/r7Agn9/Aj/CP4E+wf3+v/9+wH3+gP++Af8+v35/AH4Bf4J/gX4
+QQB/fcGA/n6Cf4FAfz4Cfz//fj6/vv5</data>
          <number>1014187561</number>
          <level reference="../../puzzle[7]/level"/>
        </puzzle>
        <puzzle>
          <data>+Pf5+wH8Bv4D/gb/Cf35+AX8/QX8/vgG//n3BPkJ/Qb7Av/4//j7B/4J/P36+v0C+AT/B/cF+f79
Bvf4+wT/9wH6/PsC/Qj5BfwI/wf99/r+</data>
          <number>399621919</number>
          <level>
            <name>Evil</name>
            <ordinal>3</ordinal>
          </level>
        </puzzle>
        <puzzle>
          <data>/PgJ/v/6A/n7+Qb+/fsE9wEI/fv/Bwj3/PoC/vwG9/n/+PsDAf37CPoC+fcECfn4/P37Bv7/CPf9
+wIH//z6BQH5Bvz4/gP3+v4E//f9Bfj5</data>
          <number>357703437</number>
          <level reference="../../puzzle[10]/level"/>
        </puzzle>
        <puzzle>
          <data>/vj/+fz9BQn6+/cDBvj+/AH5/Pr5AQn7/fgC+AL8+wf3Bv3/+v0F/P/4Avn3//kJ/gP6+AT7Cfv4
/QIH//r8/QH+9/oEB/v4+QQG+Pv/9/79</data>
          <number>1512687981</number>
          <level reference="../../puzzle[10]/level"/>
        </puzzle>
      </value>
    </point>
  </list>
</configuration>
